.row {
    margin-top: 30px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
        gap: 5px;
        justify-content: space-between;
        margin-top: 30px;
    }

    &__vote {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
        background-color: $global-bg;
        width: 50px;
        height: 30px;
        border-radius: 10px;

        &-green {
            color: #6CC24E;
        }

        &-yellow {
            color: #CBC944;
        }

        &-red {
            color: red;
        }
    }

    &__item {
        position: relative;
        justify-self: center;
        cursor: pointer;
        transition: all .5s;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
        }

        &:hover {
            // transform: scale(1.4);
        }

        &:first-child {
            // &:hover {transform: scale(1.4) translateX(50px);}
        }

        &:last-child {
            // &:hover {transform: scale(1.4) translateX(-50px);}
        }

        img {
            width: 100%;
        }

        &-more {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 30px 10px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(33, 34, 36, .6);
            opacity: 0;
            transition: all .5s;

            .green {
                color: #6CC24E;
            }
    
            .yellow {
                color: #CBC944;
            }
    
            .red {
                color: red;
            }

            h3, p {
                text-shadow: 0 0 10px #000;
            }

            h3 {
                margin-bottom: 10px;
            }
            
            p {
                font-size: 10px;
            }

            a {
                display: flex;
                align-items: center;
                color: #fff;
                font-size: 12px;
                background: rgba(0, 0, 0, 0.4);
                padding: 10px 20px;
                margin-top: 20px;
                transition: .3s all;

                ion-icon {
                    margin-right: 5px;
                    font-size: 20px;
                }

                &:hover {
                    background: $global-bg;
                }
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}