.header {
    position: fixed;
    top: 20px;
    width: 100%;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 10px 15px -5px rgba(0, 0, 0, .04),
                    0 10px 10px -5px rgba(0, 0, 0, .04);
        background-color: $global-bg;
        border: 1px solid #404040;
    }

    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        nav {
            margin-left: 50px;
            ul {
                list-style: none;
                display: flex;
                justify-content: flex-start;

                li {
                    &:not(:first-child) {
                        margin-left: 20px;
                    }
                    a {
                        color: #fff;
                        transition: all .3s;

                        &:hover {
                            color: $medium-purple;
                        }
                    }
                }
            }
        }
    }

    &__right {
        height: 100%;
    }

    &__auth {
        a {
            &:first-child {
                margin-right: 30px;
                color: #fff;
            }

            &:last-child {
                background-color: $medium-purple;
                color: #fff;
                padding: 15px 30px;
                border-radius: 10px;
            }
        }
    }
}